<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}}</h1>
                    <div class="container">
                        <p class="bg-info" ng-bind="vm.selectedSeasonName.seasonName"></p>
                        <!--<p class="bg-info" ng-bind="vm.selectedArrivalICAO.airportName"></p>
                        <p class="bg-info" ng-bind="vm.selectedWeight.weight"></p>-->
                    </div>
                        <p>Location of Season: {{vm.selectedSeasonName.seasonLocation}}</p>
                    <div class="container">
                        <p class="bg-info"><strong>seasonName</strong>: {{vm.selectedSeasonName.seasonLocation}} {{vm.seasonsData.seasonName}} name</p>
                        <!--<p class="bg-info"><strong>VFRI - Flaps 10</strong>: {{vm.climbData.vfri10}} KTS</p>
                        <p class="bg-info"><strong>VFRI - Flaps 15</strong>: {{vm.climbData.vfri15}} KTS</p>
                        <p class="bg-info"><strong>VCLMB</strong>: {{vm.climbData.vclmb}} KTS</p> -->
                    </div>
                    
                    <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" ng-click="toggleMenu">Toggle Menu</a>-->
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
